---
import * as styles from "./Button.css";
import type { HTMLAttributes } from "astro/types";

type Props = (
  | ({
      href: string;
    } & HTMLAttributes<"a">)
  | ({
      href?: never;
    } & HTMLAttributes<"button">)
) & {
  children: any;
};

const props = Astro.props;
---

{
  props.href !== undefined ? (
    <a class:list={[styles.anchorStyle, props.class]} {...props}>
      <slot />
    </a>
  ) : (
    <button class:list={[styles.buttonStyle, props.class]} {...props}>
      <slot />
    </button>
  )
}
