---
import BaseLayout from "@layouts/BaseLayout.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;
const post = Astro.props;
const { Content } = await post.render();
---

<!-- Fix layout, zooming in causes horrible look-->
<BaseLayout pageTitle={post.data.title}>
  <h1>{post.data.title}</h1>
  <Content />
</BaseLayout>

<style is:global>
  p {
    font-size: 1.25rem;
    line-height: 2;
  }
</style>
