---
import BaseLayout from "@layouts/BaseLayout.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;
const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout
  pageTitle={`${post.data.title} | Jose Andrés`}
  pageDescription={post.data.description}
>
  <h1>{post.data.title}</h1>
  <article class="post-wrapper">
    <Content />
  </article>
</BaseLayout>

<style is:global>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
  }

  .post-wrapper {
    width: 42em;
  }

  h1 {
    text-align: center;
  }

  p {
    font-size: 1.125rem;
    line-height: 2;
  }
</style>
