---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "About Jose Andrés";
---

<BaseLayout
  pageTitle={pageTitle}
  pageDescription="About Jose Andrés. What has he done? His experience, his motivations."
>
  <h1>{pageTitle}</h1>
</BaseLayout>
