---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Jose Andrés Mejías Rojas";
---

<BaseLayout
  pageTitle="Jose Andrés"
  pageDescription="Jose Andres' personal website"
>
  <section class="root">
    <header>
      <h1>{pageTitle}</h1>
    </header>

    <div class="subtitles-container">
      <span>Software Engineer</span>
      <span>Researcher</span>
      <span>University Professor</span>
    </div>
  </section>
</BaseLayout>

<style>
  h1 {
    font-size: var(--fontSize2);
    text-align: center;
  }

  .subtitles-container {
    font-size: var(--fontSize1);
    text-align: center;
    margin: 1.5rem 0;
  }

  .subtitles-container > span::after {
    content: "\a";
    white-space: pre;
  }

  .buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem 0;
  }

  .buttons-container .index-button {
    width: 80%;
    padding: 1.5rem 0;
    font-size: var(--fontSize2);
  }

  @media (min-width: 400px) {
    h1 {
      font-size: var(--fontSize3);
    }

    .subtitles-container {
      font-size: var(--fontSize2);
    }
  }

  @media (min-width: 476px) {
    .buttons-container .index-button {
      width: 60%;
    }

    .buttons-container {
      gap: 3rem;
    }
  }

  @media (min-width: 700px) {
    .buttons-container .index-button {
      width: 40%;
    }

    .subtitles-container {
      margin: 2.5rem 0;
    }

    .buttons-container {
      flex-direction: row;
      gap: 0;
      margin: 0;
    }
  }

  @media (min-width: 900px) {
    .subtitles-container > span::after {
      content: " - ";
    }

    .subtitles-container > span:last-child::after {
      content: unset;
    }
  }

  @media (min-width: 75rem) {
    h1 {
      font-size: var(--fontSize5);
    }

    .buttons-container .index-button {
      font-size: 5.5rem;
      padding: 3rem 0;
    }
  }
</style>
