---
// import Button from "@components/Button";
import Button from "@components/Button/Button.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<style>
  h1 {
    margin-bottom: 1rem;
    font-size: var(--fontSizeBig);
    text-align: center;
  }

  h2 {
    font-size: var(--fontSizeMedium);
    text-align: center;
  }

  .root {
    display: grid;
    height: 100%;
    grid-template-rows: 20% 10% 70%;
    align-items: center;
  }

  .buttons-container {
    display: flex;
    justify-content: space-around;
  }

  .buttons-container .index-button {
    width: 40%;
    padding: 3rem 0;
    font-size: 5.5rem;
  }
</style>

<BaseLayout pageTitle="Jose Andrés Mejías Rojas">
  <section class="root">
    <h1>Jose Andrés Mejías Rojas</h1>
    <h2>Software Engineer - Research Professor - Instructor</h2>

    <div class="buttons-container">
      <Button class="index-button" href="/blog">Blog</Button>
      <Button class="index-button" href="/about">About me</Button>
    </div>
  </section>
</BaseLayout>
