---
import BaseLayout from '@layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import '../styles/global.css';
import personalPicture from '../assets/picture.jpg';
import JSLogo from '@components/icons/JS.astro';
import AWSLogo from '@components/icons/AWS.astro';
import OpenSourceLogo from '@components/icons/OpenSource.astro';
import EngineeringLogo from '@components/icons/Engineering.astro';
import MachineLearningLogo from '@components/icons/MachineLearning.astro';
---

<BaseLayout pageTitle="Jose Andrés Mejías" pageDescription="Jose Andrés' personal website">
	<section>
		<div class="text-center">
			<header>
				<h1 class="text-3xl md:text-5xl">Jose Andrés Mejías</h1>
				<p class="pt-3 text-xl">Hey! I'm Jose Andrés, a software engineer from Costa Rica 🇨🇷</p>
			</header>

			<div
				class="mx-auto flex w-full flex-col items-center justify-center gap-4 pt-6 sm:w-3/4 md:w-full md:flex-row"
			>
				<Image
					src={personalPicture}
					class="w-full rounded-sm md:w-auto"
					height={400}
					alt="Picture of Jose Andrés."
					draggable="false"
				/>
				<p class="text-left text-lg">
					I'm also a university professor and a researcher. I love teaching, video games, soccer,
					theather, and reading. In my free time, I also love to code for my side projects or just
					for fun. I genuinely think learning is part of having fun as well.
				</p>
			</div>
		</div>

		<h2 class="pb-2 pt-12 text-2xl md:pt-20 md:text-4xl">
			These are what I'm currently enthusiast of
		</h2>
		<div
			class="grid grid-cols-1 gap-4 pl-8 md:grid-cols-2 md:pl-0 [&>*>svg]:absolute [&>*>svg]:-left-8 [&>*>svg]:top-[2px] [&>*>svg]:h-6 [&>*>svg]:w-6 sm:[&>*>svg]:top-1"
		>
			<div class="relative">
				<JSLogo />
				<h3 class="pb-1 text-xl font-bold md:text-2xl">JavaScript ecosystem</h3>
				<ul class="text-lg !leading-6 md:text-xl [&>li]:pb-3">
					<li>React</li>
					<li>Node.js</li>
					<li>Next.js</li>
					<li>React Native</li>
					<li>Svelte</li>
					<li>SvelteKit</li>
				</ul>
			</div>

			<div class="relative">
				<h3 class="pb-1 text-xl font-bold md:text-2xl">Amazon Web Services (AWS)</h3>
				<AWSLogo />
				<ul class="text-lg !leading-6 md:text-xl [&>li]:pb-3">
					<li>AWS Lambda</li>
					<li>ECS</li>
					<li>Fargate</li>
					<li>Elastic Beanstalk</li>
					<li>Infrastructure as Code (Serverless Framework, SST, CloudFormation)</li>
				</ul>
			</div>

			<div class="relative">
				<MachineLearningLogo />
				<h3 class="pb-1 text-xl font-bold md:text-2xl">AI/Machine Learning</h3>
				<ul class="text-lg !leading-6 md:text-xl [&>li]:pb-3">
					<li>Python</li>
					<li>Deep Learning</li>
					<li>YOLO</li>
					<li>Amazon Bedrock</li>
				</ul>
			</div>

			<div class="relative">
				<EngineeringLogo />
				<h3 class="pb-1 text-xl font-bold md:text-2xl">Software Engineering</h3>
				<ul class="text-lg !leading-6 md:text-xl [&>li]:pb-3">
					<li>Databases Design</li>
					<li>Architecture Design</li>
					<li>Design Patterns</li>
					<li>Agile Methodologies</li>
					<li>Monorepos</li>
				</ul>
			</div>

			<div class="relative">
				<h3 class="pb-1 text-xl font-bold md:text-2xl">Open Source</h3>
				<OpenSourceLogo />
				<p class="text-lg md:text-xl">
					I love Open Source! I've been sponsoring the <a
						class="underline"
						href="https://opencollective.com/svelte"
						target="_blank">Svelte</a
					> and <a class="underline" href="https://github.com/sponsors/vitejs" target="_blank"
						>Vite</a
					> projects for quite some time. However, my goal for the following years is to be able to contribute
					to projects I'm excited for with not only money but also with pull requests.
				</p>
			</div>
		</div>

		<h2 class="pb-2 pt-12 text-2xl md:pt-20 md:text-4xl">I also have a side project!</h2>

		<h3 class="w-fit text-xl font-bold hover:underline md:text-2xl">
			<a href="https://github.com/merojosa/agenda-cultural-cr" target="_blank"
				>Agenda Cultural CR 🎭</a
			>
		</h3>
		<p class="text-lg !leading-8 md:text-xl">
			It's a website that gathers cultural activities weekly (theater, dancing, concerts, etc...) in
			Costa Rica. I'm going to give you one last fun fact about me: I was a theater kid back in my
			university days. That's why I'm passionate about culture and art, and I'd love people to be
			able to see more of this wonderful world. Going back to the tech topic, it's built with
			SvelteKit and SST using AWS Lambda. Yeap, although I have way more experience with React, I
			love Svelte even more 😅
		</p>

		<h2 class="pb-2 pt-12 text-2xl md:pt-20 md:text-4xl">Professional experience</h2>
		<p class="text-lg md:text-xl">
			If you want to know about my career,
			<a
				href="https://linkedin.com/in/merojosa"
				class="underline hover:text-blue-400"
				target="_blank">check out my LinkedIn</a
			>
		</p>
	</section>
</BaseLayout>
