---
import BaseLayout from "@layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout
  pageTitle="Jose Andrés Mejías"
  pageDescription="Jose Andrés' personal website"
>
  <section>
    <header>
      <h1 class="text-5xl">Jose Andrés Mejías</h1>
    </header>

    <h2>Hey! I'm Jose Andrés. I'm a software engineer from Costa Rica 🇨🇷</h2>

    <div>
      <img src="test" />
      <p>
        I'm also a university professor and a researcher. I love teaching, video
        games, soccer, theather, and reading. In my free time, I also love to
        code for my side projects or just for fun. I genuinely think learning is
        part of having fun as well.
      </p>
    </div>

    <p>This is what I'm currently enthusiast of:</p>

    <div>
      <div>
        <h3>JavaScript ecosystem</h3>
        <ul>
          <li>React</li>
          <li>Node.js</li>
          <li>Next.js</li>
          <li>React Native</li>
          <li>Svelte</li>
          <li>SvelteKit</li>
        </ul>
      </div>

      <div>
        <h3>Amazon Web Services (AWS)</h3>
        <ul>
          <li>AWS Lambda</li>
          <li>ECS</li>
          <li>Fargate</li>
          <li>Elastic Beanstalk</li>
          <li>
            Infrastructure as Code (Serverless Framework, SST, CloudFormation)
          </li>
        </ul>
      </div>

      <div>
        <h3>Machine Learning</h3>
        <ul>
          <li>Python</li>
          <li>Deep Learning</li>
          <li>YOLO</li>
          <li>Amazon Bedrock</li>
        </ul>
      </div>

      <div>
        <h3>Software Engineering</h3>
        <ul>
          <li>Databases Design</li>
          <li>Architecture Design</li>
          <li>Design Patterns</li>
          <li>Agile Methodologies</li>
          <li>Monorepos</li>
        </ul>
      </div>

      <div>
        <h3>Open Source</h3>
        <p>
          I love the Open Source ecosystem. I already made some contributions
          here and there but my goal for the next years is to be able to
          contribute to projects that I'm exciting for.
        </p>
      </div>

      <p>And more!</p>
    </div>
  </section>
</BaseLayout>
