---
import Button from "@components/Button.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Jose Andrés Mejías Rojas";
---

<BaseLayout
  pageTitle="Jose Andrés"
  pageDescription="Jose Andres' personal website"
>
  <section class="root">
    <h1>{pageTitle}</h1>
    <h2>Software Engineer - Research Professor - Instructor</h2>

    <div class="buttons-container">
      <Button class="index-button" href="/blog">Blog</Button>
      <Button class="index-button" href="/about">About me</Button>
    </div>
  </section>
</BaseLayout>

<style>
  h1 {
    font-size: var(--fontSize2);
    text-align: center;
  }

  h2 {
    font-size: var(--fontSize1);
    text-align: center;
  }

  .buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem 0;
  }

  .buttons-container .index-button {
    width: 100%;
    padding: 2rem 0;
    font-size: var(--fontSize2);
  }

  @media (min-width: 400px) {
    h1 {
      font-size: var(--fontSize3);
    }

    h2 {
      font-size: var(--fontSize2);
    }
  }

  @media (min-width: 476px) {
    .buttons-container .index-button {
      width: 60%;
    }

    .buttons-container {
      gap: 3rem;
    }
  }

  @media (min-width: 75rem) {
    h1 {
      font-size: var(--fontSize5);
    }

    h2 {
      font-size: var(--fontSize2);
    }

    .root {
      display: grid;
      height: 100%;
      grid-template-rows: 30% 10% 45%;
      align-items: center;
    }

    .buttons-container {
      flex-direction: row;
      gap: 0;
      margin: 0;
    }

    .buttons-container .index-button {
      font-size: 5.5rem;
      padding: 3rem 0;
      width: 40%;
    }
  }
</style>
