---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Jose Andrés"
  pageDescription="Jose Andres' personal website"
>
  <section class="root">
    <p>Hey! I'm Jose Andrés.</p>

    <p>
      I love solving problems. I think we software developers are intended to
      fix problems, not create new ones! That means that there is always one or
      more tools for the job, but in the end, the most important thing is the
      problem we are solving. That's why I'm always open to explore new or old
      tools for the job.
    </p>

    <p>
      These is what I'm currently enthusiast of:
      <ul>
        <li>
          JavaScript ecosystem: React, Node.js, Next.js, React Native, Svelte,
          SvelteKit
        </li>
        <li>
          Software Engineering: Monorepos, Databases design, architecture
          design, design patterns
        </li>
        <li>
          Amazon Web Services (AWS): AWS Lambda, ECS, Fargate, Elastic
          Beanstalk, Infrastructure as Code (Serverless Framework, SST,
          CloudFormation).
        </li>
        <li>Machine Learning: Python, Deep Learning, YOLO, Amazon Bedrock</li>
      </ul>

      And more! As I said before, my focus is always fixing the problem, so
      every tool needed will be learned and used.
    </p>

    <p>
      Currently I'm working at
      <a href="http://firstfactory.com/">First Factory</a> as a software engineer
      and at <a href="https://www.ucr.ac.cr/">University of Costa Rica</a> as professor
      and researcher.
    </p>

    <p>
      I also have a side project that is work in progress: Agenda Cultural CR.
      It's a website that gathers cultural activities (theather, dancing,
      concerts, etc...) in Costa Rica. I'm going to give you one last fun fact
      about me: I did theater in my university days. That's why I'm passionate
      about cultural/art stuff, and I'd love people to be able to watch more of
      this wonderful world. Going back to the tech topic, it's built with
      SvelteKit and SST using AWS Lambda. Yeap, although I have more experience
      with React, I love Svelte even more 😅
    </p>
  </section>
</BaseLayout>

<style>
  .buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem 0;
  }

  .buttons-container .index-button {
    width: 80%;
    padding: 1.5rem 0;
    font-size: var(--fontSize2);
  }

  @media (min-width: 476px) {
    .buttons-container .index-button {
      width: 60%;
    }

    .buttons-container {
      gap: 3rem;
    }
  }

  @media (min-width: 700px) {
    .buttons-container .index-button {
      width: 40%;
    }

    .buttons-container {
      flex-direction: row;
      gap: 0;
      margin: 0;
    }
  }

  @media (min-width: 75rem) {
    .buttons-container .index-button {
      font-size: 5.5rem;
      padding: 3rem 0;
    }
  }
</style>
