---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<style>
  h1 {
    margin-bottom: 1rem;
    font-size: var(--fontSizeBig);
    text-align: center;
  }

  h2 {
    font-size: var(--fontSizeMedium);
    text-align: center;
  }
</style>

<BaseLayout pageTitle="Home">
  <h1>Jose Andrés Mejías Rojas</h1>
  <h2>Software Engineer - Research Professor - Instructor,</h2>
</BaseLayout>
