---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Jose Andrés Mejías"
  pageDescription="Jose Andrés' personal website"
>
  <section class="root">
    <p>
      Hey! I'm Jose Andrés. I'm a software engineer from Costa Rica 🇨🇷 who loves
      solving problems. I'm always open to explore, learn and perfect old or new
      tools according to what is needed.
    </p>

    <p>
      This is what I'm currently enthusiast of:
      <ul>
        <li>
          JavaScript ecosystem: React, Node.js, Next.js, React Native, Svelte,
          SvelteKit
        </li>
        <li>
          Software Engineering: Monorepos, Databases design, architecture
          design, design patterns
        </li>
        <li>
          Amazon Web Services (AWS): AWS Lambda, ECS, Fargate, Elastic
          Beanstalk, Infrastructure as Code (Serverless Framework, SST,
          CloudFormation).
        </li>
        <li>Machine Learning: Python, Deep Learning, YOLO, Amazon Bedrock</li>
        <li>
          Open Source: I love the Open Source ecosystem. I already made some
          contributions here and there but my goal for the next years is to be
          able to contribute to projects that I'm exciting for.
        </li>
      </ul>

       And more!
    </p>

    <p>
      Currently I'm working at
      <a href="http://firstfactory.com/">First Factory</a> as a software
      engineer and at <a href="https://www.ucr.ac.cr/"
        >University of Costa Rica</a
      > as professor and researcher.
    </p>

    <p>
      I also have a WIP side project: <a
        href="https://github.com/merojosa/agenda-cultural-cr"
        >Agenda Cultural CR</a
      >. It's a website that gathers cultural activities weekly (theather,
      dancing, concerts, etc...) in Costa Rica. I'm going to give you one last
      fun fact about me: I did theater in my university days. That's why I'm
      passionate about culture and art, and I'd love people to be able to see
      more of this wonderful world. Going back to the tech topic, it's built
      with SvelteKit and SST using AWS Lambda. Yeap, although I have more
      experience with React, I love Svelte even more 😅
    </p>
  </section>
</BaseLayout>
