---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout
	pageTitle="Jose Andrés' resume"
	pageDescription="Hi there! I'm Jose Andrés and this is my resume. You can check my experience, the technical skills I have and my ongoing side projects."
>
	<section class="flex flex-col gap-8">
		<h1 class="text-center text-4xl">Jose Andrés Mejías</h1>

		<article class="flex flex-col gap-3">
			<h2 class="border-b pb-1 text-3xl">Experience</h2>

			<section class="flex flex-col gap-1">
				<div class="flex items-center">
					<div class="flex-1">
						<h3 class="text-xl font-extrabold">Software Engineer</h3>
						<p>First Factory</p>
					</div>
					<div class="text-right">
						<p>Heredia, Costa Rica</p>
						<p>Jan 2021 - Present</p>
					</div>
				</div>
				<ul class="list-disc">
					<li>Full stack developer in new and legacy projects</li>
					<li>
						Developed web applications with technologies such as React, Node.js, AWS, Azure,
						GraphQL, SQL, Python and React Native, among others.
					</li>
					<li>Performed backlog grooming with clients.</li>
					<li>Co-managed a project and designed requested features.</li>
					<li>Refactored legacy code and migrated features to new technologies.</li>
				</ul>
			</section>

			<section class="flex flex-col gap-1">
				<div class="flex items-center">
					<div class="flex-1">
						<h3 class="text-xl font-extrabold">Research Professor</h3>
						<p>CITIC, UCR</p>
					</div>
					<div class="text-right">
						<p>San José, Costa Rica</p>
						<p>Mar 2023 - Present</p>
					</div>
				</div>
				<ul class="list-disc">
					<li>Developed an automated system that can detect unhealthy ads</li>
					<li>
						Created and processed a dataset with junk food images and their respective classes
					</li>
					<li>
						Implemented and trained a Deep Learning model to automatically detect junk food images
						using Python and YOLOv8
					</li>
				</ul>
			</section>

			<section class="flex flex-col gap-1">
				<div class="flex items-center">
					<div class="flex-1">
						<h3 class="text-xl font-extrabold">Web Development Co-Instructor</h3>
						<p>Programa de Asesorías, Actualización y Capacitación Computacional, ECCI, UCR</p>
					</div>
					<div class="text-right">
						<p>San José, Costa Rica</p>
						<p>Feb 2023 - Mar 2023</p>
					</div>
				</div>

				<ul class="list-disc">
					<li>Designed front end development workshop for 3 weeks.</li>
					<li>
						Taught HTML, CSS, JavaScript, frameworks, meta-frameworks, React, client side rendering,
						server side rendering, among others.
					</li>
				</ul>
			</section>
		</article>

		<!-- <article>
			<h2>Projects</h2>

			<section>
				<h3>Organizer</h3>
				<p>React Native, TypeScript, SvelteKit, Go | Jul 2023 – Present</p>
				<ul>
					<li>Agenda for people with ADHD</li>
					<li>Focused on people who have trouble remembering important events</li>
				</ul>
			</section>

			<section>
				<h3>Unhealthy Food Detection</h3>
				<p>Python, YOLO, Deep Learning | Mar 2023 – Present</p>
				<ul>
					<li>
						Multidisciplinary effort (nutrition and computer science) to detect and classify
						unhealthy food ads
					</li>
					<li>Create an unhealthy food dataset</li>
					<li>Train different models using YOLOv8</li>
					<li>
						A paper was written to report preliminary results and it was published in CISTI'2023
					</li>
					<li>Official project website</li>
				</ul>
			</section>
		</article>

		<article>
			<h2>Education/Certification</h2>

			<section>
				<h3>Amazon Web Services (AWS)</h3>
				<p>AWS Certified Cloud Practitioner | San José, Costa Rica, 2024</p>
				<p>Credential ID: 3NJ97G1B5NE41VC7</p>
			</section>

			<section>
				<h3>University of Costa Rica</h3>
				<p>Master's degree, Computer Science | San José, Costa Rica, 2021 - Present</p>
			</section>

			<section>
				<h3>University of Costa Rica</h3>
				<p>Bachelor's degree, Computer Software Engineering | San José, Costa Rica, 2015 - 2020</p>
			</section>
		</article>

		<article>
			<h2>Technical skills</h2>

			<section>
				<h3>Languages</h3>
				<p>TypeScript, JavaScript, HTML, CSS, SQL, Python, Java and C#</p>
			</section>

			<section>
				<h3>Frameworks/Libraries</h3>
				<p>React, Node.js, FastAPI, Next.js, Svelte, SvelteKit, NestJS, React Native, SST</p>
			</section>

			<section>
				<h3>Developer Tools</h3>
				<p>Git, Visual Studio Code, GitHub Actions, Jira, Amazon Web Services (AWS)</p>
			</section>

			<section>
				<h3>Methodologies and software engineering practices</h3>
				<p>Agile, Scrum, Design patterns, Clean Architecture</p>
			</section>

			<section>
				<h3>Artificial Intelligence</h3>
				<p>LLM development with Amazon Bedrock, Object detection and classification with YOLOv8</p>
			</section>
		</article> -->
	</section>
</BaseLayout>
