---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout
	pageTitle="Jose Andrés' resume"
	pageDescription="Hi there! I'm Jose Andrés and this is my resume. You can check my experience, the technical skills I have and my ongoing side projects."
>
	<section id="resume" class="flex flex-col gap-6">
		<button id="resume-button">Download Resume</button>

		<article>
			<h1 class="text-center text-4xl">Jose Andrés Mejías</h1>
			<div class="flex items-center justify-center gap-2">
				<p class="underline">jose.andresmr [at] hotmail [dot] com</p> |
				<a class="underline" href="https://www.linkedin.com/in/merojosa/"
					>https://www.linkedin.com/in/merojosa/</a
				> |
				<a class="underline" href="https://merojosa.dev/">https://merojosa.dev/</a>
			</div>
		</article>

		<article class="flex flex-col gap-3">
			<h2 class="border-b-2 pb-1 text-3xl">Skills</h2>

			<ul class="list-disc">
				<li>
					<span class="font-bold">Languages:</span> TypeScript, JavaScript, HTML, CSS, SQL, Python, Java,
					C#
				</li>
				<li>
					<span class="font-bold">Frameworks/Libraries:</span> React, Node.js, FastAPI, Next.js, Svelte,
					SvelteKit, NestJS, React Native
				</li>
				<li>
					<span class="font-bold">Artificial Intelligence:</span> LLM development with Amazon Bedrock,
					Object detection and classification with YOLOv8
				</li>
				<li>
					<span class="font-bold">Methodologies and software engineering practices:</span> Agile, Scrum,
					Design patterns, Clean Architecture
				</li>
			</ul>
		</article>

		<article class="flex flex-col gap-3">
			<h2 class="border-b-2 pb-1 text-3xl">Experience</h2>
			<section class="flex flex-col gap-1">
				<div class="flex items-center">
					<div class="flex-1">
						<h3 class="text-xl font-extrabold">Software Engineer</h3>
						<p>First Factory</p>
					</div>
					<div class="text-right">
						<p>Heredia, Costa Rica</p>
						<p>Jan 2021 - Present</p>
					</div>
				</div>
				<ul class="list-disc">
					<li>Full stack developer in new and legacy projects</li>
					<li>
						Developed web applications with technologies such as React, Node.js, AWS, Azure,
						GraphQL, SQL, Python and React Native, among others.
					</li>
					<li>Performed backlog grooming with clients.</li>
					<li>Co-managed a project and designed requested features.</li>
					<li>Refactored legacy code and migrated features to new technologies.</li>
				</ul>
			</section>

			<section class="flex flex-col gap-1">
				<div class="flex items-center">
					<div class="flex-1">
						<h3 class="text-xl font-extrabold">Research Professor</h3>
						<p>CITIC, University of Costa Rica</p>
					</div>
					<div class="text-right">
						<p>San José, Costa Rica</p>
						<p>Mar 2023 - Present</p>
					</div>
				</div>
				<ul class="list-disc">
					<li>Developed an automated system that can detect unhealthy ads</li>
					<li>
						Created and processed a dataset with junk food images and their respective classes
					</li>
					<li>
						Implemented and trained a Deep Learning model to automatically detect junk food images
						using Python and YOLOv8
					</li>
				</ul>
			</section>

			<section class="flex flex-col gap-1">
				<div class="flex items-center">
					<div class="flex-1">
						<h3 class="text-xl font-extrabold">Web Development Co-Instructor</h3>
						<p>ECCI, University of Costa Rica</p>
					</div>
					<div class="text-right">
						<p>San José, Costa Rica</p>
						<p>Feb 2023 - Mar 2023</p>
					</div>
				</div>
				<ul class="list-disc">
					<li>Designed front end development workshop for 3 weeks.</li>
					<li>
						Taught HTML, CSS, JavaScript, frameworks, meta-frameworks, React, client side rendering,
						server side rendering, among others.
					</li>
				</ul>
			</section>
		</article>

		<article class="flex flex-col gap-3">
			<h2 class="border-b-2 pb-1 text-3xl">Projects</h2>

			<section class="flex flex-col gap-1">
				<h3 class="text-xl font-extrabold">Organizer</h3>
				<div class="flex items-center">
					<p class="flex-1">React Native, TypeScript, SvelteKit, Go</p>
					<p>Jul 2023 - Present</p>
				</div>
				<ul class="list-disc">
					<li>Agenda for people with ADHD</li>
					<li>Focused on people who have trouble remembering important events</li>
				</ul>
			</section>

			<section class="flex flex-col gap-1">
				<h3 class="text-xl font-extrabold">Unhealthy Food Detection</h3>
				<div class="flex items-center">
					<p class="flex-1">Python, YOLO, Deep Learning</p>
					<p>Mar 2023 - Present</p>
				</div>
				<ul class="list-disc">
					<li>
						Multidisciplinary effort (nutrition and computer science) to detect and classify
						unhealthy food ads
					</li>
					<li>Create an unhealthy food dataset</li>
					<li>Train different models using YOLOv8</li>
					<li>
						A paper was written to report preliminary results and it was published in CISTI'2023
					</li>
				</ul>
			</section>
		</article>

		<article class="flex flex-col gap-3">
			<h2 class="border-b-2 pb-1 text-3xl">Education/Certification</h2>

			<section class="flex flex-col gap-1">
				<h3 class="text-xl font-extrabold">AWS Certified Cloud Practitioner</h3>
				<div class="flex items-center">
					<p class="flex-1">Credential ID: 3NJ97G1B5NE41VC7</p>
					<p>2024</p>
				</div>
			</section>

			<section class="flex flex-col gap-1">
				<h3 class="text-xl font-extrabold">Master's degree, Computer Science</h3>
				<div class="flex items-center">
					<p class="flex-1">University of Costa Rica</p>
					<p>2021 - Present</p>
				</div>
			</section>

			<section class="flex flex-col gap-1">
				<h3 class="text-xl font-extrabold">Bachelor's degree, Software Engineering</h3>
				<div class="flex items-center">
					<p class="flex-1">University of Costa Rica</p>
					<p>2015 - 2020</p>
				</div>
			</section>
		</article>
	</section>
</BaseLayout>

<style>
	@media print {
		#resume-button {
			display: none;
		}

		#resume {
			gap: 0px;
		}

		* {
			font-size: 12px;
		}

		h1 {
			font-size: 18px;
		}

		h2 {
			font-size: 16px;
			padding: 0px;
		}

		h3 {
			font-size: 14px;
		}

		article {
			gap: 0px;
		}

		section {
			gap: 0px;
		}

		@page {
			margin: 0;
			size: auto;
		}

		h2 {
			border-color: black;
		}
	}
</style>

<script>
	document.getElementById('resume-button')?.addEventListener('click', printResume);

	function printResume() {
		const element = document.querySelector('#resume > article > div > p');
		if (element) {
			const textContent = element.textContent;
			const email = textContent?.replace(' [at] ', '@').replace(' [dot] ', '.');
			element.textContent = email ?? textContent;
			window.print();
			element.textContent = textContent;
		}
	}
</script>
