<header>
  <nav>
    <ul>
      <li>
        <a href="/">Jose Andrés</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
</header>

<script>
  const currentPath = `/${location.pathname.split("/")[1]}`;

  const navLinkElements = document.querySelectorAll(
    "header > nav > ul > li > a"
  );
  navLinkElements.forEach((navLink) => {
    if (navLink.getAttribute("href") === currentPath) {
      navLink.classList.add("is-active");
    }
  });
</script>

<style>
  header {
    grid-area: header;
  }

  header > nav {
    padding-left: var(--layoutSpace);
    padding-right: var(--layoutSpace);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  header > nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 3rem;
    font-size: 2rem;
  }

  header a {
    color: var(--secondaryColor);
    text-decoration: none;
    font-weight: bolder;
  }

  header a:hover,
  header .is-active {
    text-decoration: underline;
    color: var(--secondaryColorLighter);
  }
</style>
